{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@assets": "./assets",
          "@components": "./src/components",
          "@styles": "./src/global/styles",
          "@navigation": "./src/navigation",
          "@screens": "./src/screens",
          "@store": "./src/store",
          "@models": "./src/shared/models",
          "@services": "./src/shared/services",
          "@shared": "./src/shared"
        }
      }
    ]
  ]
}
